.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: -5px; /* This will remove any gap between the image and footer */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 0;
    font-family: "Bungee", sans-serif;
}
